/* 1. Element Selector (Mengubah semua tag h1) */
h1 {
  color: blue;              /* Mengubah warna teks */
  text-align: center;       /* Meratakan tengah */
  font-family: Arial, sans-serif; /* Mengubah jenis huruf */
}

/* 2. Class Selector (Diawali titik, hanya berlaku untuk elemen yang memiliki class="teks-merah") */
.teks-merah {
  color: red;
  background-color: yellow; /* Warna latar belakang */
}

/* 3. ID Selector (Diawali pagar, hanya berlaku untuk 1 elemen unik) */
#teks-besar {
  font-size: 24px;          /* Mengubah ukuran huruf */
  font-weight: bold;        /* Menebalkan huruf */
}
/* Tambahan code dari praktek STEP-2 */
/* Membuat kotak untuk memahami Box Model */
.kotak-demo {
  width: 200px;
  height: 100px;
  background-color: lightblue;

  /* Margin: Jarak ke luar (Kotak menjauh dari tepi layar/elemen lain) */
  margin: 50px auto; /* auto = meratakan tengah horizontal */

  /* Padding: Jarak ke dalam (Teks menjauh dari garis tepi kotak) */
  padding: 20px;

  /* Border: Garis tepi */
  border: 2px solid black;
  border-radius: 10px; /* Membuat sudut kotak melengkung */
}
/* Tambahan code css Step-4 */
.container-flex {
  display: flex;                /* Aktifkan flexbox */
  justify-content: space-around;/* Menyebar merata */
  background-color: #eee;
  padding: 10px;
}

.item {
  background-color: #333;
  color: white;
  padding: 20px;
  width: 100px;
  text-align: center;
}
